// change the theme
$theme-colors: (
  'primary': #9381ff,
  'secondary': #b8b8ff,
  'light': #f8f7ff,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 25px;
  margin: 25px;
  margin: 20px;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.container {
  padding: 1rem;
}

.container p {
  padding: 5px 20px;
}

.container h2 {
  margin-bottom: 20px;
}

#about {
  flex: 0 0 40%;
}

#chatbot {
  flex: 1;
}

.chat-display {
  display: block;
  min-height: 440px;
  max-height: 440px;
  overflow-y: auto;
  padding: 5px;
}
